@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}

:root {
  --neutral-900: #091540;
  --neutral-800: #202535;
  --neutral-700: #2F364B;
  --neutral-600: #535868;
  --neutral-300: #C6C6C6;
  --neutral-200: #D6E2F5;
  --neutral-100: #EEEEEE;
  --neutral-0: #FBFDFE;
  --red-700: #C7231A;
  --red-500: #DE4840;
  --red-400: #F25C54;
  --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #DDFBF9 100%);
  --dark-gradient: linear-gradient(180deg, #04091B 0%, #091540 100%);
  font-size: 8px;
}

body {
  background: var(--light-gradient);
  font-size: 2rem;
  font-family: 'Noto Sans', sans-serif;
  color: var(--neutral-900);
  display: grid;
  grid-template-columns: 
    minmax(1.9rem, 1fr) 
    [content-start] minmax(42.875rem, 146.25rem) [content-end] 
    minmax(1.9rem, 1fr);
  grid-template-rows: 5rem 1fr 8rem;
}

h1 {
  font-size: 4.25rem;
  line-height: 100%;
  letter-spacing: -1px;
}

h2 {
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: -0.2px;
  margin-bottom: 1rem;
}

p {
  line-height: 140%;
  letter-spacing: -0.5px;
  color: var(--neutral-600);
}

.popout {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  border-radius: 2rem;
  box-shadow: 3px 0px 8px 3px var(--neutral-200);
}

#mode-switch {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

main {
  grid-column: content-start / content-end;
  grid-row: 2;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.hero > * {
  margin-block: 1.5rem;
  margin-inline: 2rem;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 4rem;
}

.menu > h1 {
  margin-right: auto;
}

.menu-button {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  border-radius: 2.8rem;
  margin-inline: 0.75rem;
  padding-inline: 3.12rem;
  flex: 0 0 auto;
  height: 5.75rem;
  line-height: 100%;
}

.card-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  width: 382px;
  height: 200px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

.card-content {
  text-align: left;
  display: flex;
}

.card-content > img {
  width: 60px;
  height: 60px;
  margin-right: 2.5rem;
}

.card-controls {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-controls > .menu-button {
  border: 1px solid var(--neutral-300);
  margin-inline: 0rem;
  padding-inline: 2rem;
  flex: 0 0 auto;
  height: 4.75rem;
  line-height: 100%;
}

.card-controls > .toggle-switch {
  background-color: var(--red-700);
  width: 4.5rem;
  height: 2.6rem;
  border-radius: 1.35rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.toggle-switch > .toggle {
  width: 2rem;
  height: 2rem;
  background-color: var(--neutral-0);
  margin-block: 2px;
  margin-right: 3px;
  margin-left: auto;
  border-radius: 50%;
  padding: 0;
  transition: transform 0.2s ease;
  transform: translateX(0);
}

.toggle-switch:hover .toggle {
  transform: translateX(-1.9rem);
}

.test {
  width: 100%;
  height: 100%;
  background-color: purple;
}

.active {
  background-color: var(--red-700);
  color: var(--neutral-0);
}